@font-face {
    font-family: 'TrialRooftop-Extrabold';
    src: local('TrialRooftop-Extrabold'),
         url('./TRIAL_Rooftop-Extrabold-BF64a6319fb5f08.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }